<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CyberShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="login-container">
        <h2>Login to <span>CyberShield</span></h2>

        <!-- Display login message -->
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %} 

        <form action="/loginData" method="POST">
            
            <div class="input-box">
                <i class="fas fa-user"></i> 
                <input type="text" name="username" placeholder="Username" required> 
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password" required> 
            </div>

            <div class="options">
                <label><input type="checkbox"> Remember Me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="signup">Sign Up</a></p>
        <p>Go to <a href="/">Home</a></p>
    </div>

</body>
</html>
